---
const { tags } = Astro.props;
---

{
  tags && (
    <div>
      {tags.map((tag: string) => (
        <a href="#">{tag}</a>
      ))}
    </div>
  )
}

<style>
  div {
    background-image: var(--svg-tri-bg);
    background-color: var(--color-black);
    border: 1px solid var(--color-black-lighter);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  a {
    padding: 0.3rem;
    outline: 1px solid var(--color-black-lightest);
    color: var(--color-white);
  }
</style>
