---
const { slug, title, description } = Astro.props;
---

<div>
  <a href={`/blog/${slug}`}>
    <h2>
      {title}
    </h2>
    <h3>{description}</h3>
  </a>
</div>

<style>
  h2 {
    margin-top: 0;
    border: 0;
  }

  h2 {
    color: var(--color-headings);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--color-secondary);
  }

  a h3 {
    color: var(--color-headings);
  }

  div:hover a h2,
  div:hover a h3 {
    /* outline: 1px solid gold; */
    text-decoration: underline;
    color: var(--color-headings);
    text-decoration-color: var(--color-primary);
  }
</style>
