---
const { slug } = Astro.props;
---

<p>
  <a href={`/blog/${slug}`} class="blog-continue-reading">
    Continue Reading &raquo;
  </a>
</p>

<style>
  .blog-continue-reading {
    font-weight: bold;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--color-body);
    border-bottom: 0.2rem solid var(--color-secondary);
  }
</style>
