---
import DateList from "../../components/DateList.vue";
import Layout from "../../layouts/Single.astro";
---

<Layout title="Dates">
  <section>
    <h1>Dates</h1>
    <section>
      <DateList client:load />
    </section>
  </section>
</Layout>
