---
title: "Secret Time";

import TimeTest from "../../components/TimeTest.vue";
import Layout from "../../layouts/Single.astro";
---

<Layout title="Time">
  <section>
    <h1>Time</h1>
    <section>
      <TimeTest client:load />
    </section>
  </section>
</Layout>
