---
import MiniBlog from "../../components/blogs/MiniBlog.astro";
import Layout from "../../layouts/SideBarLayout.astro";

const posts = await Astro.glob("../../content/posts/*.mdx");
let nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);

// Sort based on pubDate
nonDraftPosts = nonDraftPosts.sort((a, b) => {
  if (a.frontmatter.pubDate < b.frontmatter.pubDate) return 1;
  if (a.frontmatter.pubDate > b.frontmatter.pubDate) return -1;
  return 0;
});
---

<Layout title="Welcome">
  <section>
    <h1>All Blog Posts</h1>

    {nonDraftPosts.map((post) => <MiniBlog post={post} />)}
  </section>

  <style>
    @media screen and (min-width: 992px) {
      section {
        grid-column-start: 1;
        grid-column-end: 9;
      }
    }

    article {
      margin-bottom: 5rem;
    }
  </style>
</Layout>
