/* Used for the Kainey.co.uk Header */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* Used for Body and Headers */
@import url("https://fonts.googleapis.com/css?family=Roboto:400|Roboto:700|Roboto:900");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Montserrat:700|Montserrat:900");
@import url("https://fonts.googleapis.com/css?family=Inter:400|Inter:700|Inter:900");

@import url("https://fonts.googleapis.com/css?family=DM Serif Display:400|DM Serif Display:700|DM Serif Display:900");
@import url("https://fonts.googleapis.com/css?family=DM Serif Text:400|DM Serif Text:700|DM Serif Text:900");



@import url("https://fonts.googleapis.com/css?family=Figtree:400|Figtree:700|Figtree:900");


/* Test for Banners */
@import url("https://fonts.googleapis.com/css?family=Press Start 2P:400|Press Start 2P:700|Press Start 2P:900");
@import url("https://fonts.googleapis.com/css?family=Audiowide:400|Audiowide:700|Audiowide:900");
@import url("https://fonts.googleapis.com/css?family=Black Ops One:400|Black Ops One:700|Black Ops One:900");
@import url("https://fonts.googleapis.com/css?family=Sirin Stencil:400|Sirin Stencil:700|Sirin Stencil:900");





@import "./normalize.css";

/*  */
/* Colors */
/*  */

/* Colour Blocks */

:root {
  --color-primary: hsl(81, 100%, 45%);
  --color-secondary: hsl(287, 100%, 30%);
  --color-tertiary: hsl(29, 100%, 45%);
  --color-quaternary: hsl(203, 50%, 40%);
  --color-white: hsl(0, 0%, 90%);
  --color-black-lighter: hsl(0, 0%, 25%);
  --color-black-mid: hsl(0, 0%, 10%);
  --color-black: hsl(0, 0%, 4%);
}


/* HEX Versions */

/* :root {
  --color-primary: #95e600;
  --color-secondary: #780099;
  --color-tertiary: #e66f00;
  --color-quaternary: #337299;
    --color-white: #e6e6e6;
  --color-black-lighter: #404040;
  --color-black-mid: #1a1a1a;
  --color-black: #0a0a0a;
} */

/* Break points minus 17px */

:root {
  --scrollbar-width: 17px;
  
  --min-tablet-width: 576px;
  --min-laptop-width: 992px;
  --min-desktop-width: 1440px;

  --min-tablet-width-sb: calc(var(--min-tablet-width) - var(var(--scrollbar-width)))
  --min-laptop-width-sb: calc(var(min-laptop-width) - var(--scrollbar-width));
  --min-desktop-width-sb: calc(var(--min-desktop-width) - var(--scrollbar-width));
}

/* Colour Text */

:root {
  --color-body-darker: var(--color-black);
  --color-body-lighter: var(--color-white);
  --color-body: var(--color-white);
  --color-headings: var(--color-white);
  --color-highlight: var(--color-secondary);
}

:root {
  --color-link: var(--color-secondary);
}

/* Top Variables */

:root {
  --padding-main: 1rem;
}


:root {
  /* backgrounds by SVGBackgrounds.com */
  --svg-tri-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  --svg-spin: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='1' stroke-opacity='0.47' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.739)' style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23780099' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%238f0093' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23a4008b' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23b60082' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23c60078' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23d4006e' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23df0063' href='%23a'/%3E%3Cuse stroke='%23e80057' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23f0004b' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23f50e3f' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23f83031' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23fa4622' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23f9590c' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23f76a00' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23f37a00' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23ed8a00' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23e69900' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23dda700' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23d2b500' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23c6c200' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23b8ce00' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23a8da00' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%2395E600' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

/* Typefaces */

:root {
  --font-body: "Figtree", sans-serif;
  --font-headings: "Figtree", sans-serif;
  --font-banner: "Figtree", sans-serif;
  /* --font-banner: "Fredoka One", cursive; */
}

:root {
  --size-header: 3rem; 
  --size-body: 3rem; 
  --size-support: 3rem; 
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-secondary);
  color: var(--color-body);
}

/* Type Scale CSS */

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: var(--font-body);
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-headings);
  margin: 3rem 0 1.38rem;
  font-family: var(--font-headings);
  font-weight: 900;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}



h2 {
  margin-top: 0;
  font-size: 1.602rem;
}

h3 {
  margin-top: 0;
  font-size: 1.424rem;
}

h4 {
  margin-top: 0;
  font-size: 1.266rem;
}

h5 {
  margin-top: 0;
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

/* Typography */

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* Elements */

body {
  margin: 0 auto;
  background: var(--color-black);
  color: var(--color-body);
  min-height: 100vh;
}

h1 {
  border-bottom: 0.3rem solid var(--color-secondary);
}


pre.astro-code {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  box-shadow: 5px 5px var(--color-primary);
  overflow: hidden;
}

blockquote {
  border-radius: 5px 0 0 5px;
  border-left: 10px solid var(--color-primary);
  background-color: var(--color-black-lighter);
  padding: 2px 5px 2px 25px;
  margin: auto;
}


/* Section Single */

 /* For Desktops  */
 @media screen and (min-width: 992px) {
  section.single {
    width: 600px;
    margin: 0 auto;
  }
}