---
import MiniBlog from "../../../components/blogs/MiniBlog.astro";
import Layout from "../../../layouts/SideBarLayout.astro";
import { toTitleCase } from "../../../snippets/case";
import { generateTagArray } from "../../../snippets/tags";

// SSG
export async function getStaticPaths() {
  const posts = await Astro.glob("../../../content/posts/*.mdx");

  const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);

  function getTaggedPosts(tag: string) {
    return nonDraftPosts.filter((post) =>
      post.frontmatter.tags.some(
        (element: string) => element.toLowerCase() === tag.toLowerCase()
      )
    );
  }

  const tagsArray: string[][] = nonDraftPosts.map(
    (item) => item.frontmatter.tags
  );

  const tagResults = generateTagArray(tagsArray);

  return tagResults.map((tag) => ({
    params: {
      tag: tag.toLowerCase(),
    },
    props: {
      taggedPosts: getTaggedPosts(tag),
    },
  }));
}

// SSR

// const posts = await Astro.glob("../../../content/posts/*.mdx");

const { tag }: { tag: string } = Astro.params;
const { taggedPosts } = Astro.props;
---

<Layout title={`All Blogs tagged with: ${toTitleCase(tag)}`}>
  <section>
    <h1>All Blogs tagged with: {toTitleCase(tag)}</h1>
    {taggedPosts.map((post: object) => <MiniBlog post={post} />)}
  </section>
</Layout>

<style>
  @media screen and (min-width: 1440px) {
    section {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;
    }
  }
</style>
