---
import Layout from "../../layouts/Single.astro";

const title = "Message Sent!";
---

<Layout title={title}>
  <section>
    <h1>{title}</h1>
    <p>Thank you for your message.</p>
    <p>I will respond as soon as I can.</p>
  </section>
</Layout>

<style>
  /* section {
    min-height: 60vh;
  } */
</style>
