---
const { links } = Astro.props;
---

<ul class="link-tree">
  {
    links.map((link: { link: string; img: string; label: string }) => (
      <li>
        <a href={link.link}>
          <img src={link.img} class="link-tree__icon" />
          {link.label}
        </a>
      </li>
    ))
  }
</ul>
<style>
  ul.link-tree {
    border-top: 0.1rem solid var(--color-headings);
    border-bottom: 0.1rem solid var(--color-headings);
    padding: 0.5rem 0 0.5rem 0;
    padding-left: 0;
    list-style: none;
  }

  .link-tree a {
    font-weight: bold;
    text-decoration: none;
  }

  .link-tree__icon {
    width: 24px;
    margin-bottom: -6px;
  }

  .link-tree a:hover .link-tree__icon {
    /* filter: saturate(0%); */
    /* filter: saturate(100%); */
  }

  @media screen and (min-width: 576px) {
    .link-tree li {
      display: inline;
    }

    .link-tree li::after {
      content: " / ";
    }

    .link-tree li:last-of-type:after {
      content: "";
    }
  }
</style>
