---
import Layout from "../layouts/Base.astro";
---

<Layout title="Contact Me">
  <section>
    <h1>Contact Me</h1>
    <p>Send me a message below :) ssr version</p>
    <form data-static-form-name="contact">
      <label>Email address <input type="email" name="email" /></label>
      <label>Message <textarea name="message"></textarea></label>
      <button type="submit">Send</button>
    </form>
  </section>

  <style>
    @media screen and (min-width: 1024px) {
      section {
        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 1;
      }
    }

    form fieldset {
      border: 0;
      margin: 0;
      margin-bottom: 2rem;
      /* border-top: 3px solid var(--color-secondary); */
      padding: 0;
    }

    form input {
      box-shadow: 0.3rem 0.3rem var(--color-primary);
      width: 100%;
      border-radius: 0.5rem;
      outline: 0;
      border: 3px solid var(--color-primary);
      padding: 1rem;
    }

    form input[type="checkbox"] {
      width: 25px;
      height: 25px;
    }

    form input:focus {
      box-shadow: 0.3rem 0.3rem var(--color-secondary);
      border: 3px solid var(--color-secondary);
    }

    form textarea {
      border-radius: 0.5rem;
      border: 3px solid var(--color-primary);
      box-shadow: 0.3rem 0.3rem var(--color-primary);
      min-height: 10rem;
      min-width: 100%;
      outline: 0;
      padding: 1rem;
      resize: vertical;
    }

    form textarea:focus {
      box-shadow: 0.3rem 0.3rem var(--color-secondary);
      border: 3px solid var(--color-secondary);
    }

    form label {
      font-weight: bold;
      display: block;
    }

    form button {
      width: 100%;
      box-shadow: 0.3rem 0.3rem var(--color-primary);
      height: 3rem;
      border-radius: 0.5rem;
      font-weight: bold;
    }

    form button:hover,
    form button:focus {
      border: 3px solid var(--color-secondary);
      box-shadow: 0.3rem 0.3rem var(--color-secondary);
      cursor: pointer;
      background-color: #0000ff;
      background-image: var(--svg-tri-bg);
      color: var(--color--whitepoint);
    }
  </style>
</Layout>
