---
import AboutMe from "../components/frontpage/AboutMe.astro";
import Hero from "../components/frontpage/Hero.astro";
import Skills from "../components/frontpage/Skills.astro";
import LatestProjects from "../components/projects/LatestProjects.astro";
import Layout from "../layouts/Base.astro";

const posts = await Astro.glob("../content/posts/*.mdx");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<Layout title="Welcome">
  <section>
    <Hero />
    <AboutMe />
    <Skills />
    <LatestProjects amount={4} />
  </section>
</Layout>

<style>
  @media screen and (min-width: 992px) {
    section {
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 1;
    }
  }
</style>
