---
const data = [
  {
    name: "Languages",
    data: ["Python", "Typescript & JavaScript", "C", "PHP", "HTML & CSS"],
  },
  { name: "Frameworks", data: ["Django", "Flask", "ReactJS", "AstroJS"] },
  { name: "Databases", data: ["MySql", "PostreSQL"] },
  { name: "Other Tools", data: ["Git", "GitHub/GitLab", "Docker", "VSCode"] },
];
---

<section class="about-me">
  <h2>Elevator Pitch</h2>
  I am a junior Python/JavaScript Developer with 1-2 years non-commercial experience
  focusing on Django and Flask Applications. Previously I worked within the Print
  Industry for 14+ years. Looking for my first software role
</section>

<style>
  .about-me {
    margin: 5rem 0rem;
  }
</style>
