---
import "animate.css";
import { config } from "../../../config";
import TitleCarousel from "./TitleCarousel.astro";
---

<section>
  <img src="/me/me.jfif" />
  <p class="name">Kaine Bruce</p>
  <TitleCarousel />
  <p class="address">Brentwood, Essex</p>
  <p class="links">
    <a href={config.linkedInLink}>LinkedIn</a><a href={config.gitHubLink}
      >GitHub</a
    >
  </p>
</section>

<style>
  section {
    background-color: var(--color-black-mid);
    background-image: var(--svg-spin);
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 50%;

    padding: 10rem 1rem;
    /* outline: 1px solid white; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* outline: 1px solid red; */
    border-radius: 0.5rem 0.5rem;
  }

  section * {
    margin: 0 0;
    min-height: fit-content;
    /* outline: 1px solid gold; */
    align-self: center;
  }

  section img {
    box-shadow: 0 0 3px 0px blue inset, 0 0 1px 0px blue;
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    animation: rollIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: 1;
  }

  p.name {
    /* color: purple; */
    animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: 1;
    font-weight: bold;
    line-height: 2.35rem;
    font-size: 2.35rem;
  }

  p.address {
    font-weight: 700;
    /* color: aquamarine; */
    /* color: var(--color-black-lighter); */
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: 1;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  p.links {
    border-top: 0.3rem solid var(--color-secondary);
    padding-top: 1rem;

    /* color: brown; */
    animation: bounceInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: 1;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    /* text-align: center; */
  }

  p.links a {
    /* font-size: smaller; */
    background-color: var(--color-primary);
    background-image: var(--svg-tri-bg);
    /* border-radius: 0.5rem; */
    border-radius: 0.5rem 0rem;
    border: 3px solid black;
    /* box-shadow: 0.3rem 0.3rem var(--color-primary); */
    color: var(--color-body-darker);
    display: block;
    font-weight: bold;
    height: 2rem;
    padding: 1rem;
    width: 100%;
    line-height: 0;
    text-align: center;
  }
  p.links a:hover {
    color: var(--color-body-darker);
    /* background-color: var(--color-highlight); */
    box-shadow: 0.3rem 0.3rem var(--color-highlight);
    /* border: 3px solid var(--color-white); */
    text-decoration: none;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: infinite;
  }

  @media screen and (min-width: 576px) {
    p.name {
      line-height: 3.2rem;
      font-size: 3.2rem;
    }

    p.address {
      font-size: 2.2rem;
      line-height: 2.2rem;
    }

    p.links {
      font-size: 1.2rem;
      width: 300px;
    }
  }
</style>
