---
---

<div><a href="/">Kainey.co.uk</a></div>

<style>
  div {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    /* Compensation for the outer 2rem padding */
    padding-right: 2rem;
  }

  @media screen and (min-width: 576px) {
    div {
      /* display: block; */
      padding-right: 0;
    }
  }
</style>
