---
import "animate.css";
const title = "Kaine Bruce";
---

<div><a href="/">{title}</a></div>

<style>
  div {
    text-shadow: 0.1rem 0.1rem var(--color-black-lighter);
    height: 35px;
    font-size: 1.5rem;
    font-family: var(--font-banner);
    display: flex;
    justify-content: end;
    align-items: center;
  }

  div a {
    color: var(--color-primary);
  }

  div:hover a {
    text-shadow: 0.1rem 0.1rem var(--color-black-lighter);
    /* color: black; */
    text-decoration: none;
    animation: tada; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: 1;
  }

  @media screen and (min-width: 576px) {
    div {
      font-size: 1.8rem;
    }
  }
</style>
