---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;

import NavBar from "./NavBar.astro";
---

<header class="header-main">
  <nav class="nav-main">
    <a class="nav__brand" href="/">Kainey.co.uk</a>
    <NavBar />
  </nav>
</header>

<style>
  .header-main {
    height: min-content;
    background-color: var(--color-secondary);
    width: 100%;
    background-color: #e74c3c;
    background-image: var(--svg-orange-bg);
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
  }

  .header-main .nav__brand {
    margin: 0;
    color: var(--color--whitepoint);
    display: block;
    font-family: "Fredoka One", cursive;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.2rem 0.2rem #333;
  }

  .header-main .nav__brand:hover {
    text-shadow: 0.2rem 0.2rem var(--color-highlight);
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    .header-main .nav__brand {
      font-size: 3rem;
      padding-right: 1rem;
      display: inline-block;
      text-align: left;
      margin: 18px 1rem;
      border-bottom: 0;
      text-shadow: 0.3rem 0.3rem #333;
    }

    .header-main .nav__brand:hover {
      text-shadow: 0.3rem 0.3rem var(--color-highlight);
    }
  }

  /* Navigation */

  .nav-main {
    margin: 0 auto;
    max-width: 1024px;
  }
</style>
