---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;

import Hamburger from "./Hamburger.astro";
import HeaderTitle from "./HeaderTitle.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <div class="outer-header">
    <div class="inner-header">
      <div class="hamburger"><Hamburger /></div>
      <div class="title"><HeaderTitle /></div>
    </div>

    <Navigation />
  </div>
</header>

<style>
  header {
    background-image: var(--svg-tri-bg);
    background-color: var(--color-black);
    /* background-attachment: fixed; */

    /* background by SVGBackgrounds.com */
  }

  .outer-header {
    max-width: 1440px;
    margin: 0 auto;
  }

  .inner-header {
    padding: 2rem;
    display: flex;
  }

  .hamburger {
    flex: 0 0 auto;
  }

  .title {
    /* outline: 1px solid violet; */
    align-self: center;
    flex: 1 1 auto;
  }

  @media screen and (min-width: 576px) {
    .outer-header {
      display: flex;
      justify-content: space-between;
    }
    .inner-header {
      padding: 0rem 2rem;
    }
  }
</style>
