---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

import { config } from "../../../config";
---

<ul>
  {
    config.navLinks.map(
      (link) =>
        link.display.navBar && (
          <li>
            <a class={pathname === link.href ? "active" : ""} href={link.href}>
              {link.label}
            </a>
          </li>
        )
    )
  }
</ul>

<style>
  /* Navigation */

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    margin-bottom: 0.3rem;
    padding-left: 0;
    position: relative;
    text-align: center;
    top: -5px;
  }

  a {
    color: var(--color--blackpoint);
    display: block;
    line-height: 2.5;
  }

  li a {
    background-color: var(--color-primary);
    background-image: var(--svg-tri-bg);
    border-radius: 0.5rem;
    border: 3px solid black;
    box-shadow: 0.3rem 0.3rem var(--color-primary);
    color: var(--color-body-darker);
    font-weight: bold;
    height: 3rem;
    margin: 0 1rem;
  }

  li a:hover {
    color: #fff;
    background-color: var(--color-highlight);
    text-shadow: 0.08rem 0.08rem var(--color-primary);
    box-shadow: 0.3rem 0.3rem var(--color-highlight);
    border: 3px solid var(--color--whitepoint);
    text-decoration: none;
  }

  li .active::before {
    content: "»";
  }

  li .active::after {
    content: "«";
  }

  @media screen and (min-width: 768px) {
    ul {
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
    }

    li {
      width: 100%;
    }

    li a {
      margin: 0;
    }
    a {
      border: 0;
    }
  }
</style>
