---
const pathname = new URL(Astro.request.url).pathname;
import { config } from "../../../config";
---

<div class="nav-links">
  {
    config.navLinks.map(
      (link) =>
        link.display.navBar && (
          <a class={pathname === link.href ? "active" : ""} href={link.href}>
            {link.label}
          </a>
        )
    )
  }
</div>

<style>
  /* nav styles */

  .nav-links {
    /* outline: 1px solid green; */
    /* width: 100%; */
    /* top: 5rem; */
    /* left: 48px; */
    background-color: #ff9776;
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    /* text-transform: uppercase; */
  }

  .nav-links a:hover,
  a:focus {
    background-color: #ff9776;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 576px) {
    .nav-links {
      /* margin-left: 5em; */
      display: block;
      /* position: static; */
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
