---
import "animate.css";
const { link, label } = Astro.props;
---

<a href={link}>{label}</a>

<style>
  a {
    background-color: var(--color-primary);
    background-image: var(--svg-tri-bg);
    border-radius: 0.5rem 0rem;
    border: 3px solid black;
    box-shadow: 0.3rem 0.3rem var(--color-black-lightest);
    color: var(--color-body-darker);
    display: inline-block;
    font-weight: bold;
    height: 2rem;
    line-height: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  a:hover {
    /* border: 3px solid var(--color-white); */
    /* background-color: var(--color-highlight); */
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    animation-iteration-count: infinite;
    box-shadow: 0.3rem 0.3rem var(--color-highlight);
    color: var(--color-body-darker);
    text-decoration: none;
  }
</style>
