---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<header class="header-main">
  <nav class="nav-main">
    <a class="nav__brand" href="/">Kainey.co.uk</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="https://github.com/kaineyb">GitHub</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </nav>
</header>

<style>
  .header-main {
    height: min-content;
    background-color: var(--color-secondary);
    width: 100%;
    background-color: #e74c3c;
    background-image: var(--svg-orange-bg);
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
  }

  .header-main .nav__brand {
    margin: 0;
    color: var(--color--whitepoint);
    display: block;
    font-family: "Fredoka One", cursive;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.2rem 0.2rem #333;
  }

  .header-main .nav__brand:hover {
    text-shadow: 0.2rem 0.2rem var(--color-highlight);
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    .header-main .nav__brand {
      font-size: 3rem;
      padding-right: 1rem;
      display: inline-block;
      text-align: left;
      margin-left: 1rem;
      border-bottom: 0;
      text-shadow: 0.3rem 0.3rem #333;
    }

    .header-main .nav__brand:hover {
      text-shadow: 0.3rem 0.3rem var(--color-highlight);
    }
  }

  /* Navigation */

  .nav-main {
    margin: 0 auto;
    max-width: 1024px;
  }

  .nav-main ul {
    margin-bottom: 0.3rem;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
    position: relative;
    top: -5px;
  }

  /* .nav-main li:nth-of-type(even) {
  background-color: var(--color-tertiary);
} */

  .nav-main a {
    color: var(--color--whitepoint);
    display: block;
    font-weight: 600;
    text-decoration: none;
    line-height: 2.5;
  }

  .nav-main li a {
    margin: 0 1rem;
    /* color: var(--color-body-darker); */
    background-color: var(--color-primary);
    background-image: var(--svg-tri-bg);
    border-radius: 0.5rem;
    border: 3px solid black;
    box-shadow: 0.3rem 0.3rem var(--color-primary);
    font-weight: bold;
    height: 3rem;
  }

  .nav-main li a:hover {
    color: #fff;
    background-color: var(--color-highlight);
    text-shadow: 0.08rem 0.08rem var(--color-primary);
    box-shadow: 0.3rem 0.3rem var(--color-highlight);
    border: 3px solid var(--color--whitepoint);
  }

  .nav-main li .active::before,
  .nav-footer li .active::before {
    content: "»";
  }

  .nav-main li .active::after,
  .nav-footer li .active::after {
    content: "«";
  }

  @media screen and (min-width: 768px) {
    .nav-main ul {
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
    }

    .nav-main li {
      width: 100%;
    }

    .nav-main li a {
      margin: 0;
    }
    .nav-main a {
      border: 0;
    }

    /* .nav-main li:last-of-type {
    border-radius: 0 10px 0 0;
  }

  .nav-main li:first-of-type {
    border-radius: 10px 0 0 0;
  }

  .nav-main li:last-of-type a {
    border-radius: inherit;
  }

  .nav-main li:first-of-type a {
    border-radius: inherit;
  } */
  }
</style>
