---
import type { NavLink } from "../../models/NavLinks";

export interface Props {
  links: NavLink[];
}

const { links } = Astro.props;
---

<ul>
  {
    links.map((navLink) => {
      if (navLink.display.navBar === true)
        return (
          <li>
            <a href={navLink.href}>{navLink.label}</a>
          </li>
        );
    })
  }
</ul>
