---
import LatestProjects from "../../components/projects/LatestProjects.astro";
import Layout from "../../layouts/Base.astro";
---

<Layout title="Projects">
  <section>
    <h1>Projects</h1>
    <LatestProjects />
  </section>

  <style>
    section {
      margin: 5rem 0;
    }
    @media screen and (min-width: 992px) {
      section {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
      }
    }
  </style>
</Layout>
