---
import LatestProjects from "../../components/projects/LatestProjects.astro";
import Layout from "../../layouts/Base.astro";
---

<Layout title="Projects">
  <section>
    <h1>Projects</h1>
    <LatestProjects />
  </section>

  <style>
    section {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  </style>
</Layout>
