---
import NavBar from "./NavBar.astro";

import { config } from "../../../config";
---

<footer class="footer-main">
  <nav class="nav-footer">
    <a href="#">To the Top</a>
    <hr />
    <NavBar />
    <hr />
    <span>{config.copyRightText}</span>
  </nav>
</footer>

<style>
  /* Footer */

  body > footer {
    position: sticky;
    top: 100vh;
  }

  .footer-main {
    height: min-content;
    /* margin-top: 3rem; */
    padding: var(--padding-main);
    background-color: var(--color-black-lighter);
    color: var(--color-white);
  }

  .footer-main .nav-footer {
    margin: 0 auto;
    max-width: var(--laptop-width);
  }

  .footer-main .nav-footer a {
    text-decoration: none;
    color: var(--color-white);
  }

  .footer-main .nav-footer a:hover {
    text-decoration: underline;
    color: var(--color-primary);
  }

  .footer-main .hidden {
    color: var(--color-white);
    cursor: text;
  }

  .footer-main .nav-footer a.hidden:hover {
    text-decoration: none;
  }

  .footer-main hr {
    border: 0;
    border-bottom: 1px solid var(--color-white);
  }

  @media screen and (min-width: 992px) {
    .footer-main .nav-footer {
      line-height: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .footer-main hr {
      display: none;
    }
  }
</style>
