---
import Layout from "../layouts/Base.astro";

const { frontmatter } = Astro.props;
---

<Layout title="About">
  <section>
    <slot />
  </section>
</Layout>

<style>
  @media screen and (min-width: 1024px) {
    section {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 1;
    }
  }
</style>
