---
import RecentPosts from "../components/RecentPosts.astro";
import Layout from "../layouts/Base.astro";

const { title } = Astro.props;
---

<Layout title={title}>
  <section class="sideBar">
    <slot />
    <div class="recentPosts"><RecentPosts /></div>
  </section>
</Layout>

<style>
  .sideBar {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  @media screen and (min-width: 992px) {
    .sideBar {
      flex-direction: row;
    }

    .recentPosts {
      flex: 1 0 20rem;
    }
  }
</style>
