---
import Layout from "../layouts/Base.astro";

const { frontmatter, title } = Astro.props;
---

<Layout title={title || frontmatter.title}>
  <section class="single">
    <slot />
  </section>
</Layout>

<style>
  /* Section Single */

  section.single {
    background-color: var(--color-black-mid);
    /* margin: 1rem; */
    padding: 5rem 1rem;
  }

  @media screen and (min-width: 576px) {
    section.single {
      /* 30 - 50em  */
      padding: 5rem 2rem;
      width: 30em;
      margin: 0 auto;
    }
  }

  /* For Desktops  */
  @media screen and (min-width: 992px) {
    section.single {
      /* 30 - 50em  */
      padding: 5rem 5rem;
      width: 50em;
      margin: 0 auto;
    }
  }
</style>
