---
import Layout from "../layouts/Base.astro";

const { frontmatter, title } = Astro.props;
---

<Layout title={title || frontmatter.title}>
  <section class="single">
    <slot />
  </section>
</Layout>

<style>
  /* Section Single */

  /* For Desktops  */
  @media screen and (min-width: 992px) {
    section.single {
      /* 30 - 50em  */
      width: 40em;
      margin: 0 auto;
    }
  }
</style>
